/* Resetear algunos estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Eliminar márgenes del body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* Ajustar el header */
header {
    background-color: #4F7258; /* Verde natural */
    padding: 0; /* Evitar espacios internos */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px; /* Tamaño del logo */
    height: auto; /* Mantener la proporción */
    top: -20px; /* Colgando del borde superior */
    left: 70%; /* Ajustar según el diseño deseado */
    transform: translateX(-30%);
    display: block;
    position: absolute;
    left: 90%;
    transform: translateX(-15%);
    max-width: 100%; /* Asegura que el logo no exceda el ancho */
    max-width: 150px; /* Ajusta el tamaño máximo del logo */
    z-index: 1000; /* Asegúrate de que también se aplique al logo */
}

nav ul {
    display: flex;/* Usar flexbox para la lista */
    list-style: none; /* Sin viñetas */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
}

nav ul li {
    margin: 0 15px; /* Espacio entre los elementos */
    margin-right: 20px;
}

nav ul li a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none; /* Sin subrayado */
    color: #ffffff; /* Color del texto */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
    text-decoration: underline;
}

/* Banner principal */
.banner {
    background-image: url('portada.jpg'); /* Aquí puedes usar una imagen relacionada con el paisajismo */
    background-size: cover;
    background-position: center 45%; /* Mover un poco más arriba o abajo dependiendo del ajuste */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.banner button {
    background-color: #4F7258;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner button:hover {
    background-color: #2f4635
}

/* Sección de Servicios */
#servicos {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

#servicos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #4F7258;
}

.servico {
    margin-bottom: 30px;
}

.servico h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.servico p {
    font-size: 1.1rem;
    color: #666;
}

/* Ajuste de tamaño de imágenes */
.servico img {
    width: 50px;  /* Ajusta el ancho de los íconos */
    height: 40px; /* Ajusta la altura de los íconos */
    margin-bottom: 10px;
    object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}

/* Portfólio */
#portfolio {
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
}

#portfolio h2 {
    font-size: 2.5rem;
    color: #4F7258;
    margin-bottom: 40px;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center;    /* Centra los elementos horizontalmente */
    margin-bottom: 30px;    /* Espacio entre los diferentes catálogos */    
}

.galeria img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.galeria img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* Sección de Contacto */
#contato {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

#contato h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #4F7258;
}

#contato p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#contato button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contato button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #333;/* Fondo del footer */
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

/* Logo colgado */
.logo-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-right: auto; /* Dejar espacio para el menú */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    z-index: 1000; /* Un valor alto para que esté por encima de otros elementos */
    
}

.logo-container::before {
    content: "";
    position: absolute;
    top: -20px; /* Ajustar para que las cuerdas salgan del techo del header */
    left: 50%;
    width: 2px; /* El grosor de la cuerda */
    height: 20px; /* Largo de la cuerda */
    transform: translateX(-50%);
    top: 0;
    left: 5 0%;
    height: 50px; /* Altura de la cuerda */
    background-color: #33333300; /* Color de la cuerda */
    z-index: 100; /* Un valor alto para que esté por encima de otros elementos */
}

.logo-container::after {
    content: "";
    position: absolute;
    top: -20px; /* Para ajustar las cuerdas */
    left: calc(50% - 75px); /* Ajusta la posición horizontal para alinear con el logo */
    right: calc(50% - 75px); /* Ajusta la posición horizontal */
    height: 2px; /* Grosor de la cuerda */
    background-color: #33333300; /* Color de la cuerda */
    z-index: 100; /* Un valor alto para que esté por encima de otros elementos */
}
/* Barra de navegación fija y pequeña */
.nav-bar {
    top: 0;
    height: 60px; /* Altura más pequeña */
    background-color: #4F7258; /* Color de fondo de la barra */
    display: flex;   
    z-index: 99; /* Asegurar que la barra está encima del contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0; /* Eliminar cualquier margen */
    justify-content: space-between; /* Espacio entre el logo y la navegación */
    align-items: center; /* Centrar verticalmente */
    padding: 10px; /* Espaciado alrededor */
    position: fixed; /* Fijo en la parte superior */
    width: 100%; /* Ancho completo */
    padding: 20px;
    color: white;
    position: fixed;
}

/* Sección de catálogos */
#catálogos {
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
}

#catálogos h2 {
    font-size: 2.5rem;
    color: #4F7258;
    margin-bottom: 40px;
}

.galeria h3 {
    margin-bottom: 10px; /* Espacio entre el título y el iframe */
    font-size: 1.5rem;
    color: #333;
}

.galeria iframe {
    max-width: 100%; /* Ajusta el ancho del iframe a pantallas pequeñas */
    height: 480px;
    border: none;
}

/* Estilos generales */
.carousel-container {
    max-width: 850px;
    margin: auto;
    position: relative;
    background-color: #f9f9f9; /* Color de fondo más suave */
    padding: 50px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Ocultar el desbordamiento */
    transition: height 0.5s ease; /* Transición suave al cambiar de tamaño */
    min-height: 300px; /* Ajusta según el tamaño promedio de los testimonios */
    height: auto;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333; /* Color del texto */
    padding: 20px;
    transition: opacity 0.7s ease; /* Transición suave de opacidad */
}

.testimonial {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.author {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.carousel-slide.active {
    display: block;
    opacity: 1; /* Opacidad plena para el slide activo */
}


/* Botones */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30%;
    transition: background-color 0.3s;
}
.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Puntos de navegación */
.dots {
    text-align: center;
    padding: 10px 0;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

p.testimonial {
    font-style: italic;
    font-size: 18px;
}

p.author {
    font-size: 16px;
    margin-top: 10px;
    color: #666;
}

#depoimentos {
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
}

#depoimentos h2 {
    font-size: 2.5rem;
    color: #4F7258;
    margin-bottom: 40px;
}

.contact-info {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.map-container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opening-hours h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.opening-hours ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}

.opening-hours li {
    margin-bottom: 5px;
    color: #555;
}

/* Estilo general para la sección */
#ubicacao-horarios {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

#ubicacao-horarios h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Contenedor usando flexbox para alinear elementos */
.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex; /* Usar flexbox */
    flex-direction: row; /* Alinear en fila */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: flex-start; /* Alinear al inicio */
}

/* Estilo para el mapa */
.mapa {
    flex: 1; /* Ocupa el espacio disponible */
    margin-right: 20px; /* Espacio entre el mapa y horarios */
}

/* Estilo para los horarios */
.horarios {
    flex: 1;
    text-align: left;
}

.horarios h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4F7258;
}

.horarios ul {
    list-style-type: none;
    padding: 0;
}

.horarios ul li {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 8px;
}

/* Botón para abrir/cerrar menú en móviles */
.menu-toggle {
    display: none; /* Ocultar por defecto */
}

/* Ajustar el iframe para que sea responsivo */
.mapa iframe {
    width: 360px; /* Ancho completo */
    height: 400px; /* Altura automática */
}

/* Estilo para el icono hamburguesa */
.hamburger {
    display: none; /* Ocultar por defecto */
    font-size: 30px; /* Tamaño del icono */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    position: absolute;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #4F7258;
    border: none;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 98;
}

/* Estilos de la barra de navegación */
nav {
    display: flex; /* Usar flexbox */
    flex-direction: row; /* Alinear en fila */
}


.navbar-toggler {
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    z-index: 10; /* Asegúrate de que sea más alto que el resto de elementos */
}

/* Agregar estilos específicos para cuando se abre el menú */
#navbar {
    display: open; /* Oculta el menú por defecto */
    display: none; /* Ocultar el menú por defecto */
    position: absolute; /* Posición absoluta para overlay */
    top: 60px; /* Ajustar según la altura de la barra */
    z-index: 99; /* Asegurarse de que esté encima */
    max-height: 0; /* Ocultar el menú por defecto */
    transition: max-height 0.3s ease; /* Animación para la expansión */
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #4F7258; /* Estilo opcional para visibilidad */
}

#navbar.open {
    display: block; /* Muestra el menú cuando se añade la clase 'open' */
    max-height: 300px; /* Ajusta esto según el número de elementos */
}

/* Diseño general para pantallas grandes */
.nav-bar ul {
    list-style: none;
    display: flex; /* Muestra el menú en línea para pantallas grandes */
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.nav-bar.open ul {
    display: block; /* Muestra el menú cuando se activa el ícono hamburguesa */
    text-align: center;
}

.email-contact { 
    margin-top: 20px;
}

/* Estilos para los enlaces del menú */
#navbar ul li a {
    text-decoration: none; /* Sin subrayado */
    color: #ffffff; /* Color del texto */
    padding: 10px; /* Espacio alrededor del texto */
    display: block;
}

#navbar ul li a:hover {
    background-color: #405d47; /* Color de fondo al pasar por encima */
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    border-bottom: 1px solid #ccc;
    display: inline-block; /* Coloca los elementos del menú en línea */
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

footer .credit {
    margin-top: 10px;
    font-size: 14px;
    color: #666; /* Color gris */
    text-align: center;
}

footer .credit a {
    color: #007bff; /* Color del enlace */
    text-decoration: none;
}

footer .credit a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Para que se adapte en pantallas más pequeñas */
}

.social-media a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.social-media a:hover {
    text-decoration: underline;
}

.credit {
    font-size: 14px;
}

.credit a {
    color: #007bff;
    text-decoration: none;
}

.credit a:hover {
    text-decoration: underline;
}

.header-text h1, .header-text p {
    color: white; /* Color de las letras */
    text-shadow: 
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
}

/* Ajustar tamaño de fuente para un mejor contorno */
.header-text h1 {
    font-size: 46px; /* Tamaño más grande para el título */
}

.header-text p {
    font-size: 28px; /* Tamaño para el subtítulo */
}

.navbar a {
    color: white; /* Esto hará que las letras sean blancas */
    text-decoration: none;
    padding: 10px;
}


.navbar {
    position: absolute; /* O 'fixed' si deseas que siempre esté visible */
    top: 0;
    right: 0;
    padding: 10px;
    /* Ajusta esto según tu diseño */
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1.2rem;
    }

    .galeria img {
        width: 100%;
        margin: 10px 0;
    }

    .galeria iframe {
        height: 360px; /* Ajusta la altura para pantallas más pequeñas */
    }

    nav ul {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar los elementos */
        display: none; /* Ocultar por defecto */
        background-color: #4F7258;
        position: absolute;
        left: 0;
        width: 100%;
        display: block;
        text-align: center;
        padding: 0; /* Sin padding */
        margin: 0; /* Sin margen */
    }

    nav ul.show {
        display: flex; /* Mostrar cuando se active */
    }

    .nav-bar {
        flex-direction: column; /* Cambiar la dirección a columna */
    }

    .logo-container {
        margin-bottom: 10px; /* Espacio entre el logo y la navegación */
    }

    .menu-toggle {
        display: block; /* Mostrar el botón de menú */
        cursor: pointer; /* Cambiar el cursor */
    }

    .container {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar los elementos */
    }

    .mapa {
        margin-right: 0; /* Sin margen en la vista móvil */
        margin-bottom: 20px; /* Margen inferior para separación */
    }

    nav {
        flex-direction: column; /* Cambiar a columna en móviles */
        width: 100%; /* Ancho completo */
        background: white; /* Fondo blanco para el menú */
        position: absolute; /* Posición absoluta para overlay */
        top: 60px; /* Ajustar según la altura de la barra */
        left: 0;
        z-index: 99; /* Asegurarse de que esté encima */
        max-height: 0; /* Ocultar el menú por defecto */
        transition: max-height 0.3s ease; /* Animación para la expansión */
    }

    nav.open {
        max-height: 300px; /* Ajusta esto según el número de elementos */
    }

    nav li {
        list-style: none; /* Sin viñetas */
    }
   
    nav ul.active {
        display: flex; /* Mostrar el menú cuando esté activo */
    }
    
    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
        z-index: 99; /* Un valor alto para que esté por encima de otros elementos */
    }

    nav ul li {
        margin: 10px 0;
        z-index: 99; 
    }

    .nav-bar ul {
        display: none;
        flex-direction: column; /* Muestra el menú en columna */
        text-align: center;
        z-index: 99; /* Un valor alto para que esté por encima de otros elementos */
    }

    .nav-bar.open ul {
            display: flex; /* Muestra el menú cuando se presiona el ícono */
            flex-direction: column;
            z-index: 99; 
        }

    #navbar {
            display: none; /* Esto podría estar ocultando el menú en pantallas más grandes */
        }
    
    #navbar.open {
            display: block; /* Mostrarlo cuando esté abierto en pantallas pequeñas */
            z-index: 99; 
        }

    .navbar {
            display: none;
        }

    .navbar.active {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            z-index: 99; 
    /* El color del fondo del menú en móvil */
        }
    .navbar a {
            color: white;
            display: block;
            padding: 10px;
            z-index: 99; 
        }
    
}

 /* NUEVO CODIGO */

/* styles.css */
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #4F7258;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.logo {
    width: 150px;
    z-index: 1000; 
    
}

nav ul {
    list-style: none;
    display: flex;
    z-index: 99; 
}

nav ul li {
    margin: 0 15px;
    z-index: 99; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    z-index: 99; 
}

nav ul li a:hover {
    color: #ddd;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 99; 
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }

    .logo-container {
        margin-bottom: 10px;
        z-index: 1000; 
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        background-color: #4F7258;
        position: absolute;
        left: 0;
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        z-index: 99; 
    }

    nav ul.show {
        display: flex;
        z-index: 99; 
    }

    .hamburger {
        display: block;
        z-index: 99; 
    }
}

/* Estilos para la tira de logos empresariales */
.empresa-logo-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 20px 0; /* Ajusta el margen según sea necesario */
}

#empresa-logo h2 {
    font-size: 2.5rem; /* Tamaño de fuente */
    color: #4F7258; /* Color verde natural */
    margin-bottom: 40px; /* Espacio inferior */
    text-align: center; /* Centrado */
}

.empresa-logo-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

.empresa-logo {
    display: inline-block;
    vertical-align: middle;
    height: 50px; /* Ajusta la altura de los logos según sea necesario */
    margin-right: 20px; /* Espacio entre los logos */
}

/* Estilo para el h2 de la sección de logos empresariales */
.empresa-logo-container h2 {
    color: #4F7258; /* Color verde natural */
}

/* Estilos para las redes socias */
.redes-socias-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 20px 0; /* Ajusta el margen según sea necesario */
}

#redes-socias h2 {
    font-size: 2.5rem; /* Tamaño de fuente */
    color: #4F7258; /* Color verde natural */
    margin-bottom: 40px; /* Espacio inferior */
    text-align: center; /* Centrado */
    
}